.notDone{
  color: black
}
.Done{
  color: red;
  text-decoration:line-through;
}
.content {
  font-size: 20px;
  color: rosybrown;
  font-weight: 100;
  display: flex;
}

.Btn  {
  background: #d8e2e5;
  background-image: -webkit-linear-gradient(top, #d8e2e5, #44d2ed);
  background-image: -moz-linear-gradient(top, #d8e2e5, #44d2ed);
  background-image: -ms-linear-gradient(top, #d8e2e5, #44d2ed);
  background-image: -o-linear-gradient(top, #d8e2e5, #44d2ed);
  background-image: linear-gradient(to bottom, #d8e2e5, #44d2ed);
  -webkit-border-radius: 17;
  -moz-border-radius: 17;
  border-radius: 17px;
  text-shadow: 0px 0px 0px #eaeff0;
  -webkit-box-shadow: inset 0px 0px 10px 5px #f2f7f8;
  -moz-box-shadow: inset 0px 0px 10px 5px #f2f7f8;
  box-shadow: inset 0px 0px 10px 5px #f2f7f8;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  border: solid #f9fafb 1px;
  text-decoration: none;
}

.Btn:hover {
  color: #ffffff;
  background: #48c9fb;
  text-decoration: none;
}

#p {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  color: rgb(235, 132, 63);
  font-weight: 600;
  
}
